.card {
  display: block;
  padding: toRem(210) toRem(12) toRem(12);
  max-width: 284px;
  text-decoration: none;
  color: #ffffff;
  background: url("../img/news-lemur.svg") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: toRem(16.94);
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    color: #000;
    color: rgba(255, 255, 255, 0.6);
  }

  &__box-hover {
    position: relative;
    transition: transform 0.4s ease-in-out;
  }

  &:hover &__box-hover {
    transform: translateY(-10px);
  }
}